{% extends 'base.html' %}
{% load blog_tags %}

{% load static %}



{% block content %}

<!-- start banner Area -->
<section class="relative about-banner">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">
					{{post.title}}
				</h1>
				<p class="text-white link-nav"><a href="{% url 'website:index' %}">Home </a> <span
						class="lnr lnr-arrow-right"></span><a href="{% url 'blog:index' %}">Blog </a> <span
						class="lnr lnr-arrow-right"></span> {{post.title}}</p>
			</div>
		</div>
	</div>
</section>
<!-- End banner Area -->

<!-- Start post-content Area -->
<section class="post-content-area single-post-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 posts-list">
				<div class="single-post row">
					<div class="col-lg-12">
						<div class="feature-img">
							<img class="img-fluid" src="{{post.image.url}}" alt="">
						</div>
					</div>
					<div class="col-lg-12  meta-details">

						<div class="user-details row">
							<p class="user-name col-lg-3 col-sm-6"><a href="#">{{post.author.get_full_name}}</a> <span
									class="lnr lnr-user"></span></p>
							<p class="date col-lg-3 col-sm-6"><a href="#">{{post.published_date|date:"d M Y"}}</a> <span
									class="lnr lnr-calendar-full"></span></p>
							<p class="view col-lg-3 col-sm-6"><a href="#">{{post.counted_views}} Views</a> <span
									class="lnr lnr-eye"></span></p>
							<p class="comments col-lg-3 col-sm-6"><a href="#">{{ comments|length }} Comments</a> <span
									class="lnr lnr-bubble"></span></p>
							

						</div>
					</div>
					<div class="col-lg-12 col-md-12">
						<h3 class="mt-20 mb-20">{{post.title}}</h3>
						<p>
							{{post.content|safe}}
						</p>
						<br>
						<div class="col-lg-12  meta-details">
							<div class="first-row">
								<ul class="social-links">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-github"></i></a></li>
									<li><a href="#"><i class="fa fa-behance"></i></a></li>
								</ul>
								<ul class="tags">
									{% for cat in post.category.all %}
											<li><a href="{% url 'blog:category' cat_name=cat.name %}">{{ cat.name }}</a> {% if not forloop.last %},{% endif %}</li>
									{% endfor %}
								</ul>
								
							</div>
						</div>
					</div>

				</div>

				
				





				
				<div id="disqus_thread"></div>
					<script>
						/**
						*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
						*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
						/*
						var disqus_config = function () {
						this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
						this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
						};
						*/
						(function() { // DON'T EDIT BELOW THIS LINE
						var d = document, s = d.createElement('script');
						s.src = 'https://http-127-0-0-1-8000-qmr7dqpjse.disqus.com/embed.js';
						s.setAttribute('data-timestamp', +new Date());
						(d.head || d.body).appendChild(s);
						})();
					</script>
					<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
				

				
				
				
			</div>
			<div class="col-lg-4 sidebar-widgets">
				<div class="widget-wrap">
					
					{% include 'blog/blog-search.html' %}
								
					{% include 'blog/blog-writer.html' %}
					
					{% include 'blog/blog-tags.html' %}

																
					
					{% include 'blog/blog-ads.html'%}
				
				</div>
			</div>
		</div>
	</div>
</section>

<!-- End post-content Area -->
{% endblock %}